<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="main.css" >

    <title>
      Welcome to the relevant app.
    </title>
    
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

     //when the document is ready to be manipulated
     $(document).ready(function(){
	 
	 //add click handler to buttons

	 //new component choice
	 $("#newComponent").click(function() {

	     $("#activeArea").load("newComponent.html");

	 });

	 //add button listener for each component choice
	 <% @all_components.each do |component| %>

	 $("#component<%=component.id%>").click(function() {

	     //get data from server on component
	     console.log("component<%= component.id %>");

	     //$("#activeArea").load("inventory.html")

	 });

	 <% end %>

	 //new teardown choice
	 $("#newTeardown").click(function() {

	     $("#activeArea").load("newTeardown.html");

	 });

	 //add button listener for each teardown choice
	 <% @all_teardowns.each do |teardown| %>
	 
	 $("#teardown<%=teardown.id%>").click(function() {

	     //get data from the server on teardown
	     console.log("teardown<%=teardown.id%>");

	     $.get("/teardown", {id: <%=teardown.id%>});
	     
	     $("#activeArea").load("Teardown.html");
	     
	 });

	 <% end %>

	 //new teardown choice
	 $("#newProject").click(function() {

	     $("#activeArea").load("newProject.html");

	 });

	 //add button listener for each project choice
	 <% @all_projects.each do |project| %>

	 $("#project<%=project.id%>").click(function() {

	     //post data to the server

	     console.log("<%= project.title %>");

	     //$("#activeArea").load("project.html");

	 });

	 <% end %>

     });

     //function for showing teardown list
     function showTeardowns() {
	 document.getElementById("teardownDD").classList.toggle("show");
     }

     //function for showing projects list
     function showProjects() {
	 document.getElementById("projectDD").classList.toggle("show");
     }

     //function for showing component list
     function showComponents() {
	 document.getElementById("componentDD").classList.toggle("show");
     }

     //when window is click, minimize the dropdown menu
     window.onclick = function(event) {

	 if(!event.target.matches('.dropbtn')) {

	     var dropdowns = document.getElementsByClassName("dropdown-content");
	     var i;
	     for (i = 0; i < dropdowns.length; i++) {
		 
		 var openDropdown = dropdowns[i];
		 if(openDropdown.classList.contains('show')){
		     openDropdown.classList.remove('show');
		 }
	     }
	 }
     }

     
    </script>
    
  </head>
  
  <body>

    Hello, welcome to this teardown/project manager. 

    <br/>
    <br/>
    <div class="dropdown">
      <button onclick="showTeardowns()" class="dropbtn">Select a Teardown</button>
      <div id="teardownDD"  class="dropdown-content">
	<a id="newTeardown">Start new</a>
	<% @all_teardowns.each do |teardown|  %>
	  <a id="teardown<%= teardown.id %>" > <%= teardown.object %> </a>
	<% end %>
      </div>
    </div>
    <br/>

    <br/>
    <div class="dropdown">
      <button onclick="showProjects()" class="dropbtn">Select a Project</button>
      <div id="projectDD"  class="dropdown-content">
	<a id="newProject">Start new</a>
	<% @all_projects.each do |project|  %>
	  <a id="project<%= project.id %>"> <%= project.title %> </a>
	<% end %>
      </div>
    </div>
    <br/>

    <br/>
    <div class="dropdown">
      <button onclick="showComponents()" class="dropbtn">Inventory</button>
      <div id="componentDD"  class="dropdown-content">
	<a id="newComponent">Add new</a>
	<% @all_components.each do |component|  %>
	  <a id="component<%= component.id %>"> <%= component.code %> </a>
	<% end %>
      </div>
    </div>
    <br/>

    <p>

      <div id="activeArea">
	
      </div>

    </p>
    
  </body>

</html>
