<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="main.css" >

    <title>
      Welcome to the relevant app.
    </title>
    
    <!-- jquery -->
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">

     //when the document is ready to be manipulated
     $(document).ready(function(){

	 //add click handler to buttons

	 //new component choice
	 $("#newComponent").click(function() {

	     $("#newComponentArea").removeClass("hidden");

	 });

	 //add component button
	 $("#addComponent").click(function() {

	     var codeIn = $("#code").val().trim();
	     var typeIn = $("#type").val().trim();

	     //post data to the server

	     $.post("/components",

		    {code: codeIn, type: typeIn}, //data (js object)

		    function(data) { //function to call on return

			//clear out the textboxes
			$("#code").val("");
			$("#type").val("");

			$("#newComponentArea").addClass("hidden");
			
		    }
	     );
	 });


	 //add button listener for each component choice
	 <% @all_components.each do |component| %>

	 $("#component<%=component.id%>").click(function() {

	     //get data from server on component
	     console.log("component<%= component.id %>");

	 });

	 <% end %>

	 //new teardown choice
	 $("#newTeardown").click(function() {

	     $("#newTeardownArea").removeClass("hidden");

	 });

	 //add teardown button
	 $("#addTeardown").click(function() {

	     var objectIn = $("#object").val().trim();

	     //post data to the server

	     $.post("/teardowns",

		    {object: objectIn}, 

		    function(data) {

			$("#object").val("");

			$("#newTeardownArea").addClass("hidden");

		    }
	     );

	 });

	 //add button listener for each teardown choice
	 <% @all_teardowns.each do |teardown| %>
	 
	 $("#teardown<%=teardown.id%>").click(function() {

	     //get data from the server on teardown
	     console.log("teardown<%=teardown.id%>");

	     $.get("/teardown",

		   {id: <%=teardown.id%>},

		   function(data) {

		       $("#currentTeardown").removeClass("hidden");
		       $("#teardownParts").removeClass("hidden");
		       $("#addToTearDown").removeClass("hidden");

		       //empty region
		       $("#currentTeardown").empty();
		       $("#teardownParts").empty();

		       //append the name
		       $("#currentTeardown").append("Tearing down: ");
		       $("#currentTeardown").append(data.object);
		       //newline
		       $("#currentTeardown").append("</br>");

		       

		   }
	     );
	     
	 });

	 <% end %>

	 //new project choice
	 $("#newProject").click(function() {

	     $("#newProjectArea").removeClass("hidden");

	 });

	 //add project button
	 $("#addProject").click(function() {

	     var projectIn = $("#project").val().trim();

	     //post data to the server

	     $.post("/newProject",

		    {title: projectIn}, 

		    function(data) {

			$("#project").val("");
			$("#newProjectArea").addClass("hidden");

		    }
	     );

	 });

	 //add button listener for each project choice
	 <% @all_projects.each do |project| %>

	 $("#project<%=project.id%>").click(function() {

	     //post data to the server

	     console.log("project<%= project.id %>");


	 });

	 <% end %>

     });

     //function for showing teardown list
     function showTeardowns() {
	 document.getElementById("teardownDD").classList.toggle("show");
     }

     //function for showing projects list
     function showProjects() {
	 document.getElementById("projectDD").classList.toggle("show");
     }

     //function for showing component list
     function showComponents() {
	 document.getElementById("componentDD").classList.toggle("show");
     }

     //when window is click, minimize the dropdown menu
     window.onclick = function(event) {

	 if(!event.target.matches('.dropbtn')) {

	     var dropdowns = document.getElementsByClassName("dropdown-content");
	     var i;
	     for (i = 0; i < dropdowns.length; i++) {
		 
		 var openDropdown = dropdowns[i];
		 if(openDropdown.classList.contains('show')){
		     openDropdown.classList.remove('show');
		 }
	     }
	 }
     }

     
    </script>
    
  </head>
  
  <body>

    Hello, welcome to this teardown/project manager. 

    <br/>
    <br/>
    <div class="dropdown">
      <button onclick="showTeardowns()" class="dropbtn">Select a Teardown</button>
      <div id="teardownDD"  class="dropdown-content">
	<a id="newTeardown">Start new</a>
	<% @all_teardowns.each do |teardown|  %>
	  <a id="teardown<%= teardown.id %>" > <%= teardown.object %> </a>
	<% end %>
      </div>
    </div>
    <br/>

    <div id="newTeardownArea" class="hidden">
      Start a new Teardown here
      <br/>
      Enter the name of the object you are dismantling: <input id="object" type="text" />
      <br/>
      <input id="addTeardown" type="submit"/>
    </div>

    <div id="currentTeardown" class="hidden">
      
    </div>
    <div id="teardownParts" class="hidden">

    </div>
    <div id="addToTearDown" class="hidden">
      Add a new component to your teardown
      <br/>
      Enter component technical id here: <input id="code" type="text" />
      <br/>
      Enter component type here (capacitor, resistor, transistor, etc): <input id="type"  type="text" />
      <br/>
      <input id="teardownNewComp" type="submit"/>
    </div>

    <br/>
    <div class="dropdown">
      <button onclick="showProjects()" class="dropbtn">Select a Project</button>
      <div id="projectDD"  class="dropdown-content">
	<a id="newProject">Start new</a>
	<% @all_projects.each do |project|  %>
	  <a id="project<%= project.id %>"> <%= project.title %> </a>
	<% end %>
      </div>
    </div>
    <br/>

    <div id="newProjectArea" class="hidden">
      Start a new Project here
      <br/>
      Enter the name of the object you are building: <input id="project" type="text" />
      <br/>
      <input id="addProject" type="submit"/>
    </div>

    <br/>
    <div class="dropdown" class="hidden">
      <button onclick="showComponents()" class="dropbtn">Inventory</button>
      <div id="componentDD"  class="dropdown-content">
	<a id="newComponent">Add new</a>
	<% @all_components.each do |component|  %>
	  <a id="component<%= component.id %>"> <%= component.code %> </a>
	<% end %>
      </div>
    </div>
    <br/>

    <div id="newComponentArea" class="hidden">
      Add a new component to your inventory
      <br/>
      Enter component technical id here: <input id="code" type="text" />
      <br/>
      Enter component type here (capacitor, resistor, transistor, etc): <input id="type"  type="text" />
      <br/>
      <input id="addComponent" type="submit"/>
    </div>

    <p>

      <div id="activeArea">
	
      </div>

    </p>
    
  </body>

</html>
